<%= render partial: 'shared/admin_nav' %>

  <div class = "col-sm-9 text-center">

    <h2>Viking Store Users</h2>

    <div class = "row">
      <div class = "col-sm-12">
        <%= link_to new_user_path do %>
          <%= button_tag(type: 'button', class: 'btn btn-lg btn-primary') do
                content_tag(:strong, 'Create New User!')
          end %>
        <% end -%>
      </div>
    </div>

    <hr>

    <div class = "row">
      <div class = "col-sm-12">
        <table class="table table-hover table-striped">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Joined</th>
              <th>City</th>
              <th>State</th>
              <th>Orders</th>
              <th>Last Order</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td> <%= user.id %> </td>
                <td> <%= user.full_name %> </td>
                <td> <%= user.created_at.to_date %> </td>
                <td> <%= user.find_city_name %> </td>
                <td> <%= user.find_state_name %> </td>
                <td> <%= user.total_orders %> </td>
                <td> <%= user.last_order %> </td>
                <td> <%= link_to 'Show', user %> </td>
                <td> <%= link_to 'Edit', edit_user_path(user) %> </td>
                <td> <%= link_to 'Delete', user_path(user), method: :delete %> </td>
              </tr>
            <% end %>

        </table>
      </div>
    </div>


</div>


