<div class="col-sm-12 panel panel-default">
  <div class="panel-body">
    <h2 class='text-center'>
      Logistical Information
    </h2>
    <h3>
    Basic Information
    </h3>
    <table class="table">
      <tr>
        <td>Customer ID:</td>
        <td><%= @order.user_id %></td>
      </tr>
      <tr>
        <td>Customer</td>
        <td><%= link_to @order.user.full_name, admin_user_path(@order.user) %></td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td><%= @order.user.email %></td>
      </tr>
      <tr>
        <td>Date Placed</td>
        <td>N/A</td>
      </tr>
    </table>
    <%= link_to "Edit Customer Profile", edit_admin_user_path(@order.user) %>
    <%= form_for @order do |f| %>

      <h3>
        Order Status
      </h3>
      <p>PLACED</p>
      <%= f.radio_button :checkout_date, Date.today %>
      <p>UNPLACED</p>
      <%= f.radio_button :checkout_date, nil %>
      <h3>
        Shipping Address
      </h3>
      <%= f.collection_select :shipping_id, @order.user.addresses, :id, :street_address, :html => {class: 'form-control'}%>
      <h3>
        Billing Address
      </h3>
      <%= f.collection_select :billing_id, @order.user.addresses, :id, :street_address, :html => {class: 'form-control'}%>
      <h3>
        Billing Card
      </h3>
      <select name="empty" id="cards">
        <%= @order.user.credit_cards.each do |card| %>
          <option>
            <%= card.card_number %>
          </option>
        <% end %>
      </select>
      <br>
      <br>
      <%= f.hidden_field :user_id %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<div class="col-sm-12 panel panel-default" data-no-turbolink >
  <div class="panel-body">
    <h2>
      Order Contents
    </h2>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>REMOVE</th>
      </tr>

      <%= form_for [:admin, @order] do |f| %>
      <% count = 1 %>
        <%= f.fields_for :order_contents do |order_fields| %>
          <% if order_fields.object.persisted? %>
            <tr>
              <td><%= count %></td>
              <% count += 1 %>
              <% order_fields.object.id %>
              <td><%= order_fields.object.product.name %></td>
              <td><%= order_fields.text_field :quantity %></td>
              <td><%= order_fields.object.product.price %></td>
              <td><%= order_fields.object.product.price * order_fields.object.quantity %></td>
              <!-- <input type = "hidden" name="order[order_contents_attributes][#i" value="" -->
              <%= order_fields.hidden_field :product_id %>
              <td><%= link_to "Remove", admin_order_order_content_path(@order.id, order_fields.object), method: :delete %>
            </tr>
          <% end %>

        <% end  %>
        <tr>
        <td><%= f.submit %></td>
        </tr>
      <% end %>

    </table>
    <%= link_to "Edit Order", edit_admin_order_path(@order) %>
    <br>
    <%= link_to "Delete Order", admin_order_path(@order), method: :delete %>
  </div>
</div>
<div class="col-sm-12 panel panel-default" data-no-turbolink >
  <div class="panel-body">
    <h2>
      Add Products to Order
    </h2>
    <table class="table table-striped">
      <tr>
        <th>ProductID</th>
        <th>Quantity</th>
      </tr>

      <%= form_for [:admin, @order] do |f| %>
        <%= f.fields_for :order_contents do |order_fields| %>
          <% unless order_fields.object.persisted? %>
            <tr>
              <td><%= order_fields.text_field :product_id %></td>
              <td><%= order_fields.text_field :quantity %></td>
            </tr>
          <% end %>

        <% end  %>
         <%= f.submit %>
      <% end %>
    </table>
  </div>
</div>
