<div class = "row">
  <div class = "col-sm-12 text-center">
    <h1>Viking Store Admin Portal</h1>
  </div>
</div>
<hr>

<div class = "row">
  <div class = "col-sm-3">

    <h4 class = "text-center">Navigation Options</h4>

    <div class = "row">
      <div class = "col-sm-12">
        <%= link_to 'Users', admin_users_path %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-12">
       <%= link_to 'Addresses', admin_addresses_path %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-12">
        <%= link_to 'Orders', admin_orders_path %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-12">
        <%= link_to 'Products', admin_products_path %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-12">
        <%= link_to 'Categories', admin_categories_path %>
      </div>
    </div>

    <hr>

    <div class = "row">
      <div class = "col-sm-12 text-center">
        <%= link_to 'Analytics Dashboard', admin_dashboard_index_path %>
      </div>
    </div>

  </div>