<h2> <%= @address.user.full_name %>'s Address </h2>

<%= form_for @address do |f| %>

 	<% @address.errors.full_messages.each do |e| %>
 	<%= e %> <br>
 	<% end %>

	<p>Owner ID: <%= @address.user.id %> </p>
	<p>Owner name: <%= link_to "#{@address.user.full_name} (click to view user)", user_path(@address.user.id) %></p>

	 	<%= f.label :street_address %>
	 	<%= f.text_field :street_address %>

	 	<%= f.label :secondary_address %>
	 	<%= f.text_field :secondary_address %>

	 	<%= f.label :city %>
	 	<%= f.text_field :city %>

	 	<%= f.label :state_id %>
		<%= f.collection_select :state_id,
	                          @states,
	                          :id,
	                          :name %>

	  <%= f.label :zip_code %>
	 	<%= f.text_field :zip_code %>

	 	<%= f.hidden_field :user_id, value: "#{@address.user.id}" %>

	 	<%= f.submit "Create New Address"%>
<% end %>
