<%= form_for @category do |f| %>

  <%= content_tag :div, class: "form-group" do -%>
    <% if @category.id.nil? %>
      <h4>ID: N/A</h4>
    <% else %>
      <h4>ID: <%= @category.id %></h4>
    <% end %>
  <% end -%>

  <%= content_tag :div, class: "form-group" do -%>
    <%= f.label "Category Name" %>
    <%= f.text_field :name, class: "form-control" %>
  <% end -%>


  <%= content_tag :div, class: "form-group" do -%>
    <%= f.label "Category Description", class: "col-sm-4" %>
    <%= f.text_area :description, class: "form-control" %>
  <% end -%>

  <%= content_tag :div, class: "form-group" do -%>
    <% if @category.id.nil? %>
      <%= f.submit "Create new category", class: 'btn btn-lg btn-success' %>
    <% else %>
      <%= f.submit "Update category", class: 'btn btn-lg btn-success' %>
    <% end %>
    
  <% end -%>

<% end -%>

