<%= form_for [:admin, @user] do |f| %>
 	<% @user.errors.full_messages.each do |e| %>
 	<%= e %> <br>
 	<% end %>

 	<h2> Demographic Infomration </h2>

 	<%= f.label :first_name %>
 	<%= f.text_field :first_name %>

 	<%= f.label :last_name %>
 	<%= f.text_field :last_name%>

 	<%= f.label :email %>
 	<%= f.text_field :email %>

 	<% if @user.persisted? %>

	 	<%= f.label :default_billing_address %>
	 	<%= f.collection_select :billing_id,
                          @user.addresses,
                          :id,
                          :full_address %>

	 	<%= f.label :default_shipping_address %>
	 	<%= f.collection_select :shipping_id,
                          @user.addresses,
                          :id,
                          :full_address %>

	 	<%= link_to "View Saved Addresses", "#" %>

	 	<%= f.submit "Update #{@user.full_name}"%>

 	<% else %>
 			<%= f.submit "Create New User"%>
 	<% end %>

<% end %>
