<!DOCTYPE html>
<html>
<head>
  <title>Viking Store</title>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/navbar' %>
<hr><br>
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>

<!-- Footer -->
<footer>
  <div class="row">
      <div class="col-lg-12">
          <h3>Viking Store</h3>
          <p>Telephone: (555)-444-5321</p>
          <p><%= link_to "Admin Portal", admin_dashboard_index_path %></p>
          <p>Copyright &copy; Viking Store 2015</p>
      </div>
  </div>
</footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>
